<!DOCTYPE html>
<html lang="en">
<head>
	{{! Document Settings }}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	{{! Page Meta }}
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />

	<link rel="shortcut icon" href="{{asset "favicon.ico"}}">

	{{! Styles }}
	<link href="{{asset "css/bootstrap.min.css"}}" rel="stylesheet">
	<link href="{{asset "css/font-awesome.min.css"}}" rel="stylesheet">
	<link href="{{asset "css/style.css"}}" rel="stylesheet">

	{{! Ghost outputs important style and meta data with this tag }}
	{{ghost_head}}

</head>
<body class="{{body_class}}" dir="ltr" itemscope="itemscope" itemtype="http://schema.org/WebPage">

	<!-- Skip Link -->
	<a href="#content" class="sr-only">Skip to main content</a>

	<!-- Site Header -->
	<header id="ost-site-header" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader" >

		<div class="container text-center">
			<!-- Logo or site Title -->
			<h1 class="blog-logo" itemprop="headline">
				<a id="blog-logo" href="{{@blog.url}}" title="{{@blog.title}}">
					{{#if @blog.logo}}
						<img src="{{@blog.logo}}" alt="{{@blog.title}}" />
					{{else}}
						{{@blog.title}}
					{{/if}}
				</a>
			</h1>

			<!-- Site Description -->
			<p class="description h4" itemprop="description">
				{{@blog.description}}
			</p>

		</div>

		{{navigation}}

	</header>
	<!-- End of Header -->

	{{! Insert content from index.hbs or post.hbs depending on the page visited }}
	{{{body}}}

	<!-- Site Footer -->
	<footer id="ost-site-footer" class="text-center" role="contentinfo">
		<div class="container">
			<p>Published with <a href="http://ghost.org" target="_blank">Ghost</a> &amp; powered by <a href="http://discoverghost.com/ost-ghost-a-free-theme-for-ghost/" target="_blank">OST Ghost Theme</a></p>
			<p>&copy; <a href="{{@blog.url}}">{{@blog.title}}</a>, {{date format="YYYY"}} &bull; All rights reserved.</p>
		</div>
	</footer>
	<!-- End of Site Footer -->

	{{! Ghost outputs important scripts and data with this tag }}
	{{ghost_foot}}

	{{! Scripts }}
	<script src="{{asset "js/jquery-1.10.2.min.js"}}"></script>
	<script src="{{asset "js/bootstrap.min.js"}}"></script>
	<script src="{{asset "js/jquery.backstretch.js"}}"></script>
	<script src="{{asset "js/jquery.fitvids.js"}}"></script>
	<script src="{{asset "js/index.js"}}"></script>

	{{#if @blog.cover}}
	<script>
		$.backstretch("{{@blog.cover_image}}");
	</script>
	{{/if}}

</body>
</html>