{{!< default}}
{{! The comment above means - insert everything in this file into the {body} of the default.hbs template }}

<!-- Main Content -->
<main id="content" class="text-center container" role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog" >
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			{{! Everything inside the #post tags pulls data from the post }}
			{{#post}}

				<!-- Post -->
				<article class="{{post_class}} text-left" role="article" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">

					<h1 class="post-title text-center" role="heading" itemprop="headline">
						{{title}}
					</h1>

					<div class="post-meta text-center">
						<span class="author">by <a href="{{@blog.url}}/author/{{author.slug}}">{{author.name}}</a></span>

						<time datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished"><i class="icon-time"></i> {{date format="Do MMMM, YYYY"}}</time>

						{{#if tags}}
							&bull;
							<span class="tags">Tagged in
							{{#foreach tags}}
								<a href="{{url}}" class="tag">{{name}}</a>,
							{{/foreach}}
							</span>
						{{/if}}
					</div>

					<div class="post-content" itemprop="articleBody">
						{{content}}
					</div>

					<footer class="post-footer">

						<div id="ost-post-share" class="text-left">
							<h5>Share this post</h5>
							<div class="pull-right">
							<a href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235'); return false;" target="_blank">
								<i class="fa fa-twitter-square fa-2x"><span class="sr-only">Share on Twitter</span></i>
							</a>
							<a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}&t={{encode title}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296'); return false;" target="_blank">
								<i class="fa fa-facebook-square fa-2x"><span class="sr-only">Share on Facebook</span></i>
							</a>
							<a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530'); return false;" target="_blank">
								<i class="fa fa-google-plus-square fa-2x"><span class="sr-only">Share on GooglePlus</span></i>
							</a>
							</div>
						</div>

						{{#if author}}
							<div class="clearfix" id="ost-post-author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">

								{{#if author.image}}
								<div class="author-image">
									<a class="author-avatar" href="{{@blog.url}}/author/{{author.slug}}" style="background-image: url({{author.image}})"><span class="sr-only">{{author.name}}'s Picture</span></a>
								</div>
								{{/if}}

								<div class="author-details">
									<h4 itemprop="name"><a href="{{@blog.url}}/author/{{author.slug}}">{{author.name}}</a></h4>

									{{#if author.bio}}
										<p class="author-bio">{{author.bio}}</p>
									{{/if}}

									{{#if author.location}}<span class="author-location">from {{author.location}}. </span>{{/if}}
									{{#if author.website}}<span class="author-website"><a href="{{author.website}}" rel="author" itemprop="url" target="_blank">Vist Site</a></span>{{/if}}
								</div>

							</div>
						{{/if}}

					</footer>

				</article>
				<!-- End of Post -->

				<nav class="pagination" role="navigation">
					{{#prev_post}}
						<a href="{{url}}" class="nav-direction"><i class="fa fa-arrow-left"></i> Previous Post</a>
					{{/prev_post}}
					{{#next_post}}
						<a href="{{url}}" class="nav-direction">Next Post <i class="fa fa-arrow-right"></i></a>
					{{/next_post}}
				</nav>

			{{/post}}

		</div>
	</div>
</main>
<!-- End of Main Content -->